<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<h3><%= message %></h3>
<p><%= error %></p>
<code><%= error.stack %></code>
</body>
</html>